<!doctype html>

<html>
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/bootstrap-theme.css" rel="stylesheet">
  <link href="/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div data-role = "page" id = "pageone">
    <div data-role = "header">
        <button style="margin: 5px" class="btn"><a href="./settings.html"> <i class="fa fa-bars"></i> Settings</a></button>
      <h1>Enrolled Classes</h1>
    </div>
    <hr/>
    <div class="container">
      {{#each courses}}
      <div class="course" style="text-align:left; margin-top: 10px">
        <h2><a href='./homework'>{{courseName}}</a></h2>
      </div>
      {{/each}}
    </div>

    <div class="AddClass">
        <div class="form-group">
          <h3>Add a class</h3>
          <input type="text" class="form-control" id="name" placeholder="Class code" name="name">
          <input type="submit" id="submitBtn" class="btn btn-default" value="Add Class"></input>
        </div>
    </div>
    
    <div class="MathWord" style="text-align:center;">
        <h4>Word of the Day</h4>
        <h5>Gradient: An incline, often referred to as "slope".</h5>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>