<!doctype html>

<html>
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/bootstrap-theme.css" rel="stylesheet">
  <link href="/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div data-role = "page" id = "pageone">
    <div data-role = "header">
        <button class="btn"><i class="fa fa-bars"></i></button>
        <h1>Home</h1>
    </div>

    <hr/>

    <h1>Enrolled Classes:</h1>
    
    <div class="container">
    {{#each courses}}
    <div class="course" style="text-align:left;">
      <h2><a href='{{courseName}}.html'>{{courseName}}</a></h2>
    </div>
    {{/each}}

    <!--
    <div class="course" id="course1">
        <a href="Algebra.html" class="thumbnail">
        <h2>Algebra</h2> 
    </a>
    </div>

    <div class="course" id="course2">
        <a href="Arithmetic.html" class="thumbnail">
        <h2>Arithmetic</h2> 
    </a>
    </div> -->

    <!--<form id="addClassForm" role="form" method="get" action="/add"> -->
    <form>
      <h3>Add a class</h3>
        <div class="form-group">
          <label for="name">Class Code:</label>
          <input type="text" class="form-control" id="name" placeholder="Name" name="name">
        </div>
        <input type="submit" id="submitBtn" class="btn btn-default" value="Add Class"></input>
    </form>
    
    <div data-role = "footer" class="MathWord">
      <hr/>
        <h1>Math Word of the Day:</h1>
        <div style="text-align:center;">
        <h2>Gradient</h2></div><h3>How steep a line is. Also known as "Slope."</h3>
    </div>
  </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>