<!doctype html>

<html>
<head>
  <title>Homework</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div data-role = "page" id = "pageone">
    <div data-role = "header">
        <button style="margin: 5px" class="btn"><a href="./settings.html"> <i class="fa fa-bars"></i> Settings</a></button>
        <h1>Algebra</h1>
    </div>

    <hr/>
    
    <div class="container">
    {{#each homeworks}}
    <div class="homework" style="text-align:left; margin-top: 10px">
      <h2><a href='{{homeworkURL}}'>{{homeworkName}}</a></h2>
    </div>
    {{/each}}
    </div>
 
    <div class="navBar">
      <input type="btn btn-default" value="Back" class="btn btn-default" onclick="history.back()">
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>