<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Problem 2</title>
</head>
<body>
<button style="margin: 5px" class="btn"><a href="/settings"><i class="fa fa-bars"></i> Settings</a></button>
<h1>Problem X</h1>

<hr/>

<div class="container" style="text-align: left;">
    <div class="problem" id="problem2">
        <h2>Blank problem page. Now you see that we have accomplished problem succession.</h2>
    </div>
</div>

<div class="navBar">
    <div>
        <input type="btn btn-default" value="Go back to page_B" class="btn btn-default" onclick="window.location.replace('page_B')">
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>