/* applies to anything of class "example-class-selector" */
.example-class-selector {
     margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
     /* Colors are in hexadecimal: http://www.colorpicker.com/ */     
     color: #CC00AA;
}

.jumbotron {
     position: relative;
     background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;   
}

.jumbotron p {
     color: #6e6e6e;
}

.button {
    text-align: center;
}

.answer{
    margin-left:5px;
}
.btn {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

#teacherLoginButton {
    color: #9e9b98;
}

#signupButton {
    color: #9e9b98;
}

#backButton {
    color: #9e9b98;
}

body {
     background-image: url("../Math hw.jpg");
}

h1 {
     text-align: center;
}

h2 {
    margin-left: 15px;
    margin-top: 2px;
    font-size: 25px;
}

h3 {
    margin-top: 2px;
    font-size: 20px;
}

h4 {
    margin-left: 10px;
    margin-right: 1px;
    font-size: 25px;
}

h5 {
    margin-left: 10px;
    margin-right: 1px;
    font-size: 11px;
}

h6 {
    margin-left: 10px;
    margin-right: 1px;
    font-size: 4px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.AddClass {
    position: absolute;
    bottom: 10%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-content: center;
    margin-bottom: 20px;
    text-align: center;
}

.MathWord {
    width: max-content;
    position: fixed;
    bottom: 5%;
    color: #9e9b98;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#submitBtn {
    margin-top: 10px;
}

.navBar {
    margin: auto;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10%;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}